body{
    background-image: url(download.png);
    font-family: 'Orbitron', sans-serif;
    color: black;
}

#container {
    text-align: center;
    align-items: center;
    font-weight: bold;
    padding: 15px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(248, 243, 243, 0.96);
    width: 800px;
}

#para1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 60px;
        text-align: center;
}

#Score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    text-align: center;
    border: 3px dotted goldenrod;
    border-radius: 4px;
    width: 300px;
    margin: 0 auto;
    position: relative;
}

#para2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
    text-align: center;
}

#playerchoice-el {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
